html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*The navigation bar*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

img.logo {
    width:250px;
    height:50px;
    position:relative;
}

.navbar {
    overflow: hidden;
    background-color: teal;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    font-size:20px;
    position:relative;
    left:-100px;
}

.main {
    margin-top: 20px;
}

li.nav-item {
    font-weight:bolder;
    font-size:10px;
    position:relative;
    left:-110px;
}

body {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background-color: teal;
    background-size: cover;
}

#space1 {
    position: relative;
    top: -85px;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.intro p {
    font-size: 15px;
    font-weight: bold;
}

#section1 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 50vw;
    height: 45vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -100px;
    z-index: 1;
    border: 5px solid beige;
    scroll-padding-top:100px;
}

#space2 {
    position: relative;
    top: -85px;
}

.steelLongPanel {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.steelLongPanel p {
    font-size: 15px;
    font-weight: bold;
}

#section2 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 50vw;
    height: 30vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    right: -600px;
    z-index: 1;
    border: 5px solid beige;
}

#space3 {
    position: relative;
    top: -85px;
}

#section3 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#space4 {
    position: relative;
    top: -85px;
}

#section4 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#space5 {
    position: relative;
    top: -85px;
}

#section5 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#space6 {
    position: relative;
    top: -85px;
}

#section6 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#space7 {
    position: relative;
    top: -85px;
}

#section7 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}