html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

img.logo {
    width:250px;
    height:50px;
    position:relative;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: teal;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:2;
}

    /* Links inside the navbar */
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
        font-size:30px;
        position:relative;
        left:-100px;
    }

        /* Change background on mouse-over 
        .navbar a:hover {
            background: #ddd;
            color: black;
        }*/

/* Main content */
.main {
    margin-top: 20px; /* Add a top margin to avoid content overlay */
}

li.nav-item {
    font-weight:bolder;
    font-size:25px;
    position:relative;
    left:-110px;
}

#space {
    width:90vw;
    height:10vh;
    margin: 5px 5px;
}

body {
    width:100vw;
    height:100vh;
}

.intro {
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}

.intro p {
    font-size:15px;
    font-weight:bold;
}

#section1 {
    background-image: url('images/plumeria-i-wall-mural.jpg');
    background-size: cover;
    width: 90vw;
    height: 40vh;
    text-align: center;
    margin: 5px 5px;
    position:relative;
    left:-50px;
    z-index:1;
}

#section2 {
    width: 90vw;
    height: 40vh;
    background-color: #EF5354;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#section3 {
    width: 90vw;
    height: 40vh;
    background-color: #EF5354;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#section4 {
    width: 90vw;
    height: 40vh;
    background-color: #EF5354;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}

#section5 {
    width: 90vw;
    height: 40vh;
    background-color: #EF5354;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 5px 5px;
    position: relative;
    left: -50px;
    z-index: 1;
}
 
/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    right: -100px;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: white;
        font-weight: bold;
        color: black;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: -110px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}