@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="~/css/images/img-0223.jpg" style="width:100%"/>
        </div>

        <div class="mySlides fade">
            <img src="~/css/images/img-4105.jpg" style="width:100%"/>
        </div>

        <div class="mySlides fade">
            <img src="~/css/images/img-4106.jpg" style="width:100%"/>
        </div>
        
        <div class="mySlides fade">
            <img src="~/css/images/img-4255.jpg" style="width:100%" />
        </div>
    </div>
</section>