@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="space">

</div>
<div class="intro" id="section1">
    <h1>UNPARALLED SERVICE</h1>
    <p>
        Paradise Garage Doors specializes in customized high-end design,<br> 
        development and installation of garage doors with impeccable service you won’t find anywhere else.<br>
        The owner has over 30 years in the industry and provides personal attention to every customer.<br>
        Paradise Garage Doors... expect a higher standard of quality.
    </p>
    <p>
        With over 30 years in the business, we offer a full range of quality garage doors and second-to-none garage door services.<br>
        Whether you need a new door, remote, repairs, service, installation or custom and odd size doors,<br> call Paradise Garage Doors today for a free in-home estimate.
    </p>
    <p>
        License # 916101 - Bonded & Insured
    </p>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel5.jpg">
            <img src="~/css/images/steel5.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel5.jpg">
            <img src="~/css/images/steel5.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel6.jpg">
            <img src="~/css/images/steel6.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel6.jpg">
            <img src="~/css/images/steel6.jpg" />
        </a>
    </div>
</div>

<div class="clearfix"></div>

<div class="steel" id="section2">
    <h1>Steel Doors</h1>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel1.jpg">
            <img src="~/css/images/steel1.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel2.jpg">
            <img src="~/css/images/steel2.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel3.jpg">
            <img src="~/css/images/steel3.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/steel4.jpg">
            <img src="~/css/images/steel4.jpg" />
        </a>
    </div>
</div>

<div class="clearfix"></div>

<div class="wood" id="section3">
    <h1>Wood Doors</h1>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/wood1.jpg">
            <img src="~/css/images/wood1.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/wood1.jpg">
            <img src="~/css/images/wood1.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/wood1.jpg">
            <img src="~/css/images/wood1.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/wood1.jpg">
            <img src="~/css/images/wood1.jpg" />
        </a>
    </div>
</div>

<div class="clearfix"></div>

<div class="glass" id="section4">
    <h1>Glass Doors</h1>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/glass1.jpg">
            <img src="~/css/images/glass1.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/glass2.jpg">
            <img src="~/css/images/glass2.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/glass3.jpg">
            <img src="~/css/images/glass3.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/glass4.jpg">
            <img src="~/css/images/glass4.jpg" />
        </a>
    </div>
</div>

<div class="clearfix"></div>

<div class="openers" id="section5">
    <h1>Openers</h1>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/liftmaster-8160W.png">
            <img src="~/css/images/liftmaster-8160W.png" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/liftmaster-84504.png">
            <img src="~/css/images/liftmaster-84504.png" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/liftmaster-8500w.jpg">
            <img src="~/css/images/liftmaster-8500w.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/linear-ldco801.jpg">
            <img src="~/css/images/linear-ldco801.jpg" />
        </a>
    </div>
</div>

<div class="clearfix"></div>

<div class="Contact" id="section6">
    <h1>Contact Us</h1>
</div>