@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="index">
    <section class="welcome">
            <h1>Welcome</h1>
        <p>
            Paradise Garage Doors specializes in customized high-end design,
            development and installation of garage doors with impeccable service you won’t find anywhere else.
            The owner has over 30 years in the industry and provides personal attention to every customer.

            Paradise Garage Doors... expect a higher standard of quality.
        </p>
    </section>
</body>
