@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="~/css/images/img-0223.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4105.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4106.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4255.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4188.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4299.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4329.jpg" style="width:100%"/>
        </div>
        <div class="mySlides fade">
            <img src="~/css/images/img-4467.jpg" style="width:100%"/>
        </div>
    </div>
</section>
<article class="intro">
    <h1>UNPARALLED SERVICE</h1>
    <p>
        Paradise Garage Doors specializes in customized high-end design, development and installation of garage doors with impeccable service you won’t find anywhere else. The owner has over 30 years in the industry and provides personal attention to every customer.

        Paradise Garage Doors... expect a higher standard of quality.
    </p>
    <p>
        With over 30 years in the business, we offer a full range of quality garage doors and second-to-none garage door services.

        Whether you need a new door, remote, repairs, service, installation or custom and odd size doors, call Paradise Garage Doors today for a free in-home estimate.
    </p>
    <p>
        License # 916101 - Bonded & Insured
    </p>
</article>