@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="space">

</div>
<div class="intro" id="section1">
    <h1>UNPARALLED SERVICE</h1>
    <p>
        Paradise Garage Doors specializes in customized high-end design,<br> 
        development and installation of garage doors with impeccable service you won’t find anywhere else.<br>
        The owner has over 30 years in the industry and provides personal attention to every customer.<br>
        Paradise Garage Doors... expect a higher standard of quality.
    </p>
    <p>
        With over 30 years in the business, we offer a full range of quality garage doors and second-to-none garage door services.<br>
        Whether you need a new door, remote, repairs, service, installation or custom and odd size doors,<br> call Paradise Garage Doors today for a free in-home estimate.
    </p>
    <p>
        License # 916101 - Bonded & Insured
    </p>
</div>
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/img-0223.jpg">
            <img src="~/css/images/img-0223.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/img-4105.jpg">
            <img src="~/css/images/img-4105.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/img-4106.jpg">
            <img src="~/css/images/img-4106.jpg" />
        </a>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="~/css/images/img-4188.jpg">
            <img src="~/css/images/img-4188.jpg" />
        </a>
    </div>
</div>

<div class="clearfix"></div>
<div class="steel" id="section2">
    <h1>Steel Doors</h1>
</div>
<div class="wood" id="section3">
    <h1>Wood Doors</h1>
</div>
<div class="glass" id="section4">
    <h1>Glass Doors</h1>
</div>
<div class="openers" id="section5">
    <h1>Openers</h1>
</div>
<div class="Contact" id="section6">
    <h1>Contact Us</h1>
</div>